.mainBody__container {
  justify-content: space-between;
  padding: 0 15%;
}

.container__box-grey {
  background: darkgray;
  border: 1px solid grey;
  box-shadow: 2px 5px 10px 1px rgba(5, 5, 5, .2);
}

.container__box-left {
  width: 15%;
  height: 500px;
}

.box-left__top {
  width: 100%;
  border-bottom: 1px solid grey;
}

.box-left__middle {
  width: 100%;
  border-bottom: 1px solid grey;
}

/* .box-left__bottom {

} */

.container__box-middle {
  width: 55%;
}

.container__box-topMiddle {
  margin-bottom: 10px;
  width: 100%;
  padding: 0 1%;
  justify-content: space-between;
}

.container__box-right {
  width: 25%;
  height: 450px;
}